@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body {
    background-color: #7C7C7C;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Roboto', 'Mono';
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
    font-family: 'Roboto', ' Mono';
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 1.3rem;
}

.container {
    min-height: 68vh;
    background-color: black;
    color: white;
    font-family: 'Sono';
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.png');
    background-repeat: no-repeat;
}

.songListContainer {
    margin-top: 25px;
}

.timeSpan {
    font-weight: bold;
    margin-right: 8px;
}

.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin: 14px;
}

.icon i {
    cursor: pointer;
}

.prevIcon {
    padding-inline: 10px;
}

.nextIcon {
    padding-inline: 10px;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItem {
    display: flex;
    height: 50px;
    width: 60%;
    color: black;
    background-color: white;
    font-family: 'Sono';
    border-radius: 10px;
    padding: 6px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    opacity: 0.9;
}

.songItem img {
    width: 50px;
    margin-left: 2px;
    border-radius: 10px;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-weight: bold;
    font-family: 'Sono';
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

@media only screen and (max-width: 1140px) and (min-width: 650px) {
    body {
        background-color: black;
    }

    .bottom {
        position: sticky;
        height: 130px;
        background-color: black;
        color: white;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .prevIcon {
        padding: 5px;
    }

    .fa-solid {
        font-weight: 600;
    }

    .fa-3x {
        font-size: 1em;
    }

    .nextIcon {
        padding: 5px;
    }
}

@media (max-width:650px) {
    .container {
        background: url(bg2.jpg) no-repeat;
        background-size: cover;
        margin: 0px;
        width: 70%;
        border-radius: 12px;
        padding: 62px;
        border-radius: 0px;
    }

    .songList h1 {
        font-size: 1.2em;
        margin: -40px;
    }

    .songListContainer {
        margin-top: 67px;
    }

    .songItem {
        height: 23px;
        width: 83%;
        border-radius: 5px;
        margin-left: -24px;
    }

    .songItem img {
        width: 30px;
        margin-left: 2px;
        border-radius: 6px;
    }

    .songName {
        font-size: 10px;
        margin-left: 5px;
        width: 124px;
    }

    .timeSpan {
        font-weight: bolder;
        margin-right: 0px;
        font-size: 12px;
        padding-left: 2px;
    }

    .container {
        min-height: 38vh;
    }

    .bottom {
        margin-top: 0px;
        height: 125px;
    }

    .icons {
        margin-left: -88px;
    }

    .prevIcon {
        padding: 5px;
    }

    .fa-solid {
        font-weight: 600;
    }

    .fa-3x {
        font-size: 1.7em;
    }

    .nextIcon {
        padding: 5px;
    }

    .gif {
        opacity: 1;
        width: 34px;
        margin-left: -30px;
        margin-top: 28px;
    }

    #myProgressBar {
        width: 76vw;
        margin-left: -88px;
        margin-top: 12px;
        cursor: pointer;
    }

    #masterSongName {
        font-size: 0.8em;
        text-align: center;
    }
}